body {

    background-image: url(/img/concrete-texture.png);
    
}

#zoning3 main {
    width: 800px;
}

#gauche section {
    background-color: turquoise;
}



footer {
    background-color: ;
    