body{
    background-color: pink;
    text-align: center
}

main {
    width: 1200px;
    background: aliceblue;
    margin: 0 auto;
}



#haut {
    
    width: 1200px;
    background-color: yellow;
    float: left;  
    height: 150px;
    
}



#gauche {
    
    width: 200px;
    background-color:green;
    float: left;  
    height: 300px;
    
    
}


#droite {
    
    width: 1000px;
    background-color: paleturquoise;
    float: left;  
    height: 300px;

    
}





    