

body {
    background: url(../img/concrete-texture.png);
}

#zoning6 {
    width: 1000px;
    background-color: pink;
    margin: 0 auto;
    text-align: center;
    color: white;
}

#zoning6 header{
    height: 200px;
}

.clear {
    clear: both;
}

 .haut1 {
        width: 25%;
        height: 100%;
        background-color: tomato;
        float: left;
}

 .haut2 {
    width: 50%;
    height: 100%;
    background-color: teal;
    float: left;
}

  .haut3 {
     width: 25%;
     height: 100%;
     background-color: rgb(152, 233, 202);
     float: left;     
  }

 #zoning6 nav {
      height: 50px;
      background-color: lightblue; 
 }

   #zoning6 nav p {
       margin: 0 auto;
   }   
      
       


  #zoning6 aside {
      background-color: thistle;
      float: left;
      min-height: 500px;
      width: 25%;
      
  }

  #zoning6 section {
      background-color: lightgreen;
      width: 75%;
      float: left;
      

  }

  #zoning6 .a {
    background-color: wheat;
    width: 50%;
    height: 200px;
    float: left;
}

#zoning6 .b {
    background-color: black;
    width: 50%;
    height: 200px;
    float: left;
       
}

#zoning6 .diaporama {
    min-height: 200px;
    background-color: khaki;
}


#zoning6 .c {
    width: 25%;
    height: 100px;
    float: left;
    background-color: lime;
}

#zoning6 .d {
    width: 25%;
    height: 100px;
    float: left;
    background-color: powderblue;
}


#zoning6 .e {
    width: 25%;
    height: 100px;
    float: left;
    background-color: rosybrown;
}

#zoning6 .f {
    width: 25%;
    height: 100px;
    float: left;
    background-color: orchid;
}

 #zoning6 footer {
    min-height: 100px;
    background-color: black;
    
}



